$primary-color: #6e2fd5;
$backgroud-gray: #f2f2f2;
$border-color: #e0e0e0;

$text-color-dark: #202224;

$mobile-breakpoint: 768px;

:root {
  --primary-color: #{$primary-color};
  --background-gray: #{$backgroud-gray};
  --text-color-dark: #{$text-color-dark};
  --border-color: #{$border-color};
}
